<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
      <h1>Add item to inventory</h1>
      <form action="/getme" method="POST">

        <input type="text" name="name" placeholder="Name"/></br>

        <input type="text" name="img" placeholder="Image URL" /></br>
        
        <input type="text" name="description" placeholder="Description"></br>

        <input type="number" name="price" placeholder="Price"></br>

        <input type="number" name="qty" placeholder="QTY"></br>

        <input type="submit" value="Create Item"></br>

      </form>
    </body>
</html>