body {
    background: rgb(141, 197, 196);
    background-size: cover;
    font-family: 'Abel', sans-serif;
    margin-top: 80px;
    padding: 30px;
}

header {
    background-color: rgb(155, 79, 81);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

header li a {
    color: white;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: 0.3s all;
    
}

header li {
    margin: 10px;
}

header * {
    display: inline;
}

header img {
    height: 65px;
    width: 150px;
    margin-left: 30px;
}
header li a:before {
    content: '';
    width: 60px;
    position: absolute;
    border-bottom: 3px solid rgba(0, 0, 0, 0.8);
    bottom: 0;
    right: 500px;
    transition: 0.3s all;
}
header li a:hover:before {
    right: 0;
}

/* index page */
.container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 50px;
    background-color: white;
    box-shadow: 0 0 25px 0 black;

}
.container img {
    height: 300px;
    width: 300px;
}
.item {
    order: 5; 
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
}

.delete {
    font-family: 'Abel', sans-serif;
    background: ;
    border-radius: 5px;
    border-color: rgb(153, 3, 28);
}
.delete input[type="submit"]{
    font-family: 'Abel', sans-serif;
    width: 13%;
    padding: 6px;
    color: rgb(202, 199, 191);
    background: rgb(155, 79, 81);
    border: 3px solid rgb(202, 199, 191);
    border-radius: 5px;
}


/* show page */
main img {
    height: 300px;
    width: 300px;
}

.show-item {
    text-align: center;
    padding: 50px;
    background-color: white;
    box-shadow: 0 0 25px 0 black;
}

/* add page */
.add-item {
    text-align: center;

}

.add-item input[type="text"]{
    font-size: 1rem;
    width: 50%;
    padding: 10px;
    color: rgb(202, 199, 191);
    background: rgba(0, 0, 0, 0.5);
    border: 3px solid rgb(202, 199, 191);
    border-radius: 5px;
}

.add-item input[type="number"]{
    font-size: 1rem;
    width: 50%;
    padding: 10px;
    color: rgb(202, 199, 191);
    background: rgba(0, 0, 0, 0.5);
    border: 3px solid rgb(202, 199, 191);
    border-radius: 5px;
}
.add-item input[type="submit"]{
    font-size: 1em;
    width: 10%;
    padding: 10px;
    color: rgb(202, 199, 191);
    background: rgb(155, 79, 81);
    border: 3px solid rgb(202, 199, 191);
    border-radius: 5px;
}


/* edit page */
.edit-item {
    text-align: center;

}

.edit-item input[type="text"]{
    font-size: 1rem;
    width: 50%;
    padding: 10px;
    color: rgb(202, 199, 191);
    background: rgba(0, 0, 0, 0.5);
    border: 3px solid rgb(202, 199, 191);
    border-radius: 5px;
}
.edit-item input[type="number"]{
    font-size: 1rem;
    width: 50%;
    padding: 10px;
    color: rgb(202, 199, 191);
    background: rgba(0, 0, 0, 0.5);
    border: 3px solid rgb(202, 199, 191);
    border-radius: 5px;
}
.edit-item input[type="submit"]{
    font-size: 1em;
    width: 10%;
    padding: 10px;
    color: rgb(202, 199, 191);
    background: rgb(155, 79, 81);
    border: 3px solid rgb(202, 199, 191);
    border-radius: 5px;
}

::-webkit-input-placeholder{
    color: rgb(202, 199, 191);
}

@media screen and (max-width: 425px){
    .container {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 20px;
        background-color: white;
        box-shadow: 0 0 25px 0 black;
    
    }
    .container img {
        height: 100px;
        width: 100px;
    }
    
    
}





/* source for CSS
https://www.w3schools.com/css/default.asp
https://www.youtube.com/watch?v=wVSjKfLKvbk